body {
  margin: 0;
  min-width: 500px;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: -apple-system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-decoration: none;
  background-color: #f8f8f8;
  min-height: 100%;

  /* scroll-snap-type: y mandatory; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  margin-top: 100px;
}

footer {
  /* position: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* bottom: 5px; */

  position: relative;
  /* display: flex; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background-color: rgba(50, 50, 50, 1);
  color: #f8f8f8;
  padding: 30px 0;
  text-align: center;
}

a {
  text-decoration: none;
}

/*navBar*/

.navBar {
  position: fixed;
  /* position: -webkit-sticky; */
  display: flex;
  flex-direction: row;
  top: 0;
  /* 점 없애기 */
  list-style: none;
  padding-left: 0px;

  width: 100%;
  height: 100px;
  margin: 0 0;

  align-items: center;
  justify-content: space-between;

  color: #f8f8f8;
  /* padding: 8px 24px; */
  font-weight: 700;
  /* background-color: blue;
  opacity: 0.5; */
  /* 윗 속성을 쓰면, 글자도 투명도가 적용되므로 주의 */
  background-color: rgba(10, 10, 10, 0.8);
  /* padding: 8px 12px; */
}

.navBar.active {
  transition: all 0.5s;
  visibility: visible;
  z-index: 1;
}
.navBar.hidden {
  visibility: hidden;
  transition: all 0.5s;
  z-index: 1;
  transform: translateY(-100%);
}

.myLogo {
  color: #f8f8f8;
  font-size: 30px;
  padding-left: 30px;
  cursor: pointer;
}
.myLogo:hover {
  color: turquoise;
  transform: scale(1.2);
}
.myLogo span {
  padding: 0px 10px;
}
.navMenu {
  display: flex;
  flex-direction: row;

  /* 점 없애기 */
  list-style: none;
  padding-left: 0px;

  margin: 0px 24px;
}

.navMenu li {
  padding: 8px 24px;
}

.navMenu a {
  font-weight: 700;
  font-size: 20px;
  color: #f8f8f8;
}

.navMenu a:hover {
  color: tomato;
}

.toggleBtn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #fefad4;
  display: none;

  z-index: 1;
}

@media screen and (max-width: 830px) {
  .navBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 0px;
    padding: 12px 0px;

    width: 100%;
    background-color: rgba(10, 10, 10, 0.8);
  }

  .myLogo {
    padding: 28px 24px;
  }

  .navMenu li {
    text-align: center;
    width: 100%;
  }

  .navBar a {
    padding: 0px 8px;
    display: block;
  }

  .navMenu.PC {
    display: flex;
    flex-direction: column;
  }

  .toggleBtn {
    display: block;
    top: 30px;
    transition: all 0.5s;
  }
  .toggleBtn:hover {
    /* transition: all 0.5s; */
    transform: rotate(90deg);
  }
}

/*각 페이지별 레이아웃*/

.home,
.profile,
.portfolio,
.contact,
.experiences,
.skills {
  width: 100%;
  display: flex;
  height: 100vh;

  /* scroll-snap-align: center; */
}
.home {
  margin-top: -100px;
}
.profile,
.portfolio,
.contact,
.experiences,
.skills {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  position: absolute;
  /* border-top: 100px; */
}
.home .container.homeTitle {
  color: white;
  opacity: 0.9;
  font-size: 60px;
  font-weight: 800;

  margin: 300px 100px;
}

.home .otherLinks {
  position: absolute;
  bottom: 5%;
  right: 10%;
}

.home .otherLinks i {
  transition: all 0.5s;
  color: white;
}

.home .otherLinks i:hover {
  transform: scale(1.2);
}

.form {
  /* border: 300px 100px; */
  top: 50px;
  position: relative;
  width: 80%;
  max-width: 1200px;
  height: 600px;

  /* background-color: white; */
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); */
  border-radius: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  color: #ffffff;
  font-weight: 700;
  font-size: 50px;
}
/* .form .inForm {
  padding: 40px 40px;
} */
.form .introduce {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0px;
  font-size: 20px;
}
.introduce img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

/* Skills*/
.introduce.skills ul {
  display: grid;
  list-style: none;
}
